{% extends "root.html" %}
{% block title %} Brief {% endblock %}

{% block main %}
<h1>The content</h1>

<p>
    Imma CS student by trade, and a honky sonfa bitch by <b>SOUL</b>
</p>
<h2>Relevent links</h2>
<ul>
    <li>Have a look at some of my side projects on <a href="https://github.com/PythonHito">GitHub!</a></li>
    <li>Check out my <a href="https://www.linkedin.com/in/brett-warren-744074157/">LinkedIn profile!</a></li>
    <li>Download my <a href="/getcv">CV!</a></li>
</ul>
{% endblock %}